<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Task</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">

            <div class="row">
                <h2>Task</h2>
            </div>

            <div class="row">
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">ID</h6>                            
                        </div>
                        <span class="text-success" th:text="${task.id}" />
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Name</h6>
                        </div>
                        <span class="text-muted" th:text="${task.name}" />
                    </li>
                    <li class="list-group-item justify-content-between lh-condensed">
                        <div>
                            <h6 class="mb-1">Description</h6>
                        </div>
                        <p class="mb-1" th:text="${task.description}" />
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Status</h6>
                        </div>
                        <span class="text-muted" th:text="${task.status}" />
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Added</h6>
                        </div>
                        <span class="text-muted" th:text="${#dates.format(task.timeAdded, 'dd-MM-yyyy HH:mm:ss')}" />
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Finished</h6>
                        </div>
                        <span class="text-muted" th:text="${#dates.format(task.timeFinished, 'dd-MM-yyyy HH:mm:ss')}" />
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <a class="btn btn-info" href="/task/list" role="button">Back</a>
                        </div>
                        <div class="text-muted" th:if="${task.timeFinished} == null">
                            <form th:object="${task}" th:action="@{/task/done}" method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <button type="submit" class="btn btn-secondary">Finish task</button>
                            </form>
                        </div> 
                    </li>
                </ul>                
            </div>                    

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>